apiVersion: v1
kind: ConfigMap
metadata:
  name: vault-templates-authentication
  namespace: shadowchats
data:
  authentication-appsettings.json.tpl: |
    {
      "JwtSettings": {
        "SecretKeyBase64": "{{ with secret "secret/authentication" }}{{ .Data.data.jwt_secret }}{{ end }}",
        "Issuer": "Shadowchats",
        "Audience": "ShadowchatsUsers"
      },
      "PostgresConnectionStrings": {
        "ReadWrite": "Host=authentication-pgbouncer-rw.shadowchats.svc.cluster.local;Port=5432;Database=authentication;Username=authentication;Password={{ with secret "secret/authentication" }}{{ .Data.data.postgres_password }}{{ end }}",
        "ReadOnly":  "Host=authentication-pgbouncer-ro.shadowchats.svc.cluster.local;Port=5432;Database=authentication;Username=authentication;Password={{ with secret "secret/authentication" }}{{ .Data.data.postgres_password }}{{ end }}"
      }
    }
